# Python virtual environment
.venv/
venv/
env/

# Environment variables
vars.env
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Mac system files
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# Logs
*.log